@font-face {
    font-family: 'EarlyGameBoy';
    src: url('../fonts/EarlyGameBoy.ttf') format('truetype')
}

body {
    max-width: 800px;
    padding: 0 1em;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    margin-top: 2em;
    text-align: center;
}

header img {
    width: 100px;
    cursor: pointer;
}

header h1 {
    font-size: 46px;
    font-family: 'EarlyGameBoy', sans-serif;
}

article {
    margin-top: 2em;
    border-top: 3px dashed black;
}

article small {
    color: gray;
}

article img {
    object-fit: cover;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

article img:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

article .pagination {
    text-align: center;
}

article .pagination span {
    font-size: 18px;
}

article .pagination a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

article .pagination span.disabled {
    color: gray;
    font-size: 24px;
}

article div p {
    line-height: 1.8em;
    font-size: 16px;
    text-align: justify;
}

article div h2 {
    text-align: center;
    font-size: 32px;
}

article div h3 {
    text-align: left;
}

article div img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
}

article section {
    margin-top: 1em;
    display: inline-block;
    text-align: center;
}

article section img {
    margin-top: 5px;
    cursor: pointer;
}

article section p {
    text-align: justify;
    line-height: 1.5em;
}

@media (min-width: 768px) {
    article section {
        text-align: left;
        width: 100%;
    }

    article section img {
        float: left;
        margin-right: 1em;
    }

    article section div {
        width: 100%;
    }

    article section h2 {
        margin: 0 0 0.3em 0;
    }

    article section p {
        margin-top: 0;
    }

    body {
        padding: 0;
    }

    article section img {
        width: 320px;
        height: 288px;
    }
}

@media (max-width: 768px) {
    article section {
        text-align: center;
    }

    article section h2 {
        margin: 0 0 0.3em 0;
    }

    article section p {
        margin-top: 0;
    }

    article section img {
        width: 240px;
        height: 216px;
        margin-bottom: 0.3em;
    }
}

footer {
    border-top: 3px dashed black;
    margin-top: 2em;
    text-align: center;
    font-size: 12px;
}

footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}